{include file='public/header'/}
<div class="touch-top mobile-section clearfix">
<div class="touch-top-wrapper clearfix">
<div class="touch-logo" skinobjectzone="HtmlLogo_2654"><a class href="#"><img src="__IMG__/logo.png" alt="易风学院"/></a></div>

<div class="touch-navigation">
<div class="touch-toggle">
<ul>
<li class="touch-toggle-item-first"><a href="javascript:;" class="drawer-language" data-drawer="drawer-section-language"><i class="touch-icon-language"></i><span>语言</span></a></li>
<li class="touch-toggle-item-last"><a href="javascript:;" class="drawer-menu" data-drawer="drawer-section-menu"><i class="touch-icon-menu"></i><span>导航</span></a></li>
</ul>
</div>
</div>
</div>

<div class="touch-toggle-content touch-top-home">
<div class="drawer-section drawer-section-language">
<ul class="touch-language clearfix" skinobjectzone="HtmlLanguage_2927">
<li><a href="#">English</a></li>
<li><a href="#">中文简体</a></li>
</ul>
</div>
<div class="drawer-section drawer-section-menu">
<div class="touch-menu" skinobjectzone="menu_3145">
<ul>
<li><a href="#"><span>首页</span></a></li>
<li><a href="javascript:;"><span>关于我们</span><i class="touch-arrow-down"></i></a>
<ul>
<li><a href="#"><span>公司简介</span></a></li>
<li><a href="#"><span>专业团队</span></a></li>
<li><a href="#"><span>人才招聘</span></a></li>
</ul>
</li><li><a href="javascript:;"><span>摄影作品</span><i class="touch-arrow-down"></i></a>
<ul>
<li><a href="#"><span>服装摄影</span></a></li>
<li><a href="#"><span>产品摄影</span></a></li>
<li><a href="#"><span>皮具摄影</span></a></li>
<li><a href="#"><span>化妆品摄影</span></a></li>
<li><a href="#"><span>珠宝饰品</span></a></li>
</ul>
</li><li><a href="javascript:;"><span>模特资料</span><i class="touch-arrow-down"></i></a>
<ul>
<li><a href="#"><span>国内女模特</span></a></li>
<li><a href="#"><span>国内男模特</span></a></li>
<li><a href="#"><span>国外女模特</span></a></li>
<li><a href="#"><span>国外男模特</span></a></li>
</ul>
</li>
<li><a href="#"><span>摄影场景</span></a></li>
<li><a href="javascript:;"><span>新闻资讯</span><i class="touch-arrow-down"></i></a>
<ul>
<li><a href="#"><span>公司新闻</span></a></li>
<li><a href="#"><span>摄影学堂</span></a></li>
</ul>
</li>
<li><a href="#"><span>联系我们</span></a></li>
</ul>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
     
     $(".touch-toggle a").click(function(event){
      var className = $(this).attr("data-drawer");
      
      if( $("."+className).css('display') == 'none' ){      
       $("."+className).slideDown().siblings(".drawer-section").slideUp();
      }else{
       $(".drawer-section").slideUp(); 
      }
      event.stopPropagation();
     });
     
     /*$(document).click(function(){
      $(".drawer-section").slideUp();     
     })*/
     
     $('.touch-menu a').click(function(){     
      if( $(this).next().is('ul') ){
       if( $(this).next('ul').css('display') == 'none' ){
        $(this).next('ul').slideDown();
        $(this).find('i').attr("class","touch-arrow-up");     
       }else{
        $(this).next('ul').slideUp();
        $(this).next('ul').find('ul').slideUp();
        $(this).find('i').attr("class","touch-arrow-down");
       }   
      }
     });
    });
</script></div>
</div>

<div id="a1portalSkin_headerAreaA" class="header"><a name="31858" id="31858"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107135107135_mainArea" class="module-content">
<div class="slideshow slideshow-min carousel clearfix" style="height:450px; overflow:hidden;">
<div id="carousel-107135">
<div class="carousel-item">
<div class="carousel-img"><a href="javascript:;" target><img src="__IMG__/7.jpg" height="450" alt="服装摄影"/></a></div>
</div>
</div>
<div class="carousel-btn carousel-btn-fixed" id="carousel-page-107135"></div>
</div>
<script type="text/javascript">
 $(window).bind("load resize",function(){
  $("#carousel-107135").carouFredSel({
   width       : '100%',
   items  : { visible : 1 },
   auto     : { pauseOnHover: true, timeoutDuration:5000 },
   swipe     : { onTouch:true, onMouse:true },
   pagination  : "#carousel-page-107135",
   scroll   : { fx : "crossfade" }
  }); 
 });
</script></div>
</div>
</div>
</div>

<section class="main">
<div class="page-width clearfix">
<section class="content float-right">
<section class="page-title page-title-inner clearfix">
<div class="breadcrumbs float-right" skinobjectzone="HtmlBreadCrumb_3806">
 <span>当前位置：</span>
  <a href="#">主页</a> >
  <a href="#">摄影场景</a>
</div>

 <div class="page-name float-left">
<h2>摄影场景</h2>
</div>
</section>

<div id="a1portalSkin_mainArea" class="content-wrapper"><a name="31832" id="31832"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107133107133_mainArea" class="module-content">
<div class="portfolio-list">
  <ul class="column marg-per2 clearfix">
     {volist name='list' id='vo'}
     <li class="col-4-1" data-animate="fadeInUp">
      <div class="portfolio-img"><a href="{:url('showscene',['id'=>$vo['id']])}" target="_blank"><img src="{$vo.pic}"/></a></div>
     <div class="portfolio-title">
     <h2><a href="#" target="_blank">{$vo.title}</a></h2>
     </div>
     </li>
     {/volist}
  </ul>
</div>
<div class="m-page">
<ul class="pagelist">
 {$list->render()}
</ul>
</div>
 </div>
</div>
</div>
</div>
</section>

<section class="sidebar float-left">
<div id="a1portalSkin_sidebarAreaA" class="sidebar-content"><a name="31833" id="31833"></a>
<div class="module module-hlbg">
<div class="module-inner">
<div class="module-hlbg-title clearfix">
<h3 class style>摄影场景</h3>
</div>
<div id="a1portalSkin_ctr107134107134_mainArea" class="module-hlbg-content">
<div class="category category-107134 article-category">
<ul>
<li class="current"><a href="#">摄影场景</a><i></i></li>
</ul>
</div>
<script type="text/javascript">
 $(document).ready(function(){
  $('.category-107134 ul ul').find('li:last').addClass('last');
  
  $('.category-107134 > ul > li > a').click(function(){
   if( $(this).parent('li').find('ul') ){
    $(this).parent('li').find('ul').slideDown('fast');
    $(this).parent('li').siblings('li').find('ul').slideUp('fast');
    $(this).parent('li').addClass('current').siblings('li').removeClass('current');
   }
  });   
 });
</script></div>
</div>
</div>
</div>
</section>
</div>
</section>

<footer class="footer">
<div class="footer-main">
<div id="a1portalSkin_footerAreaA" class="page-width clearfix"><a name="31848" id="31848"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107119107119_mainArea" class="module-content">
<div class="qhd-module">
<div class="column marg-per2">
<div class="col-5-1">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M1" class="qhd_column_contain"><a name="31849" id="31849"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107120107120_mainArea" class="module-content">
<div class="qhd-content">
<p style="text-align: center;"> <img alt src="__IMG__/weixin.png" style="width: 120px; height: 120px;"/><br/>
扫描关注微信</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-1">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M2" class="qhd_column_contain"><a name="31850" id="31850"></a>
<div class="module-default">
<div class="module-inner">
<div class="module-title module-title-default clearfix">
<div class="module-title-content clearfix">
<h3 style class>摄影作品</h3>
</div>
</div>
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107121107121_mainArea" class="module-content">
<div class="link link-block">
<ul>
<li><a href="#" target="_blank"><span>服装摄影</span></a></li><li><a href="#" target="_blank"><span>产品摄影</span></a></li><li><a href="#" target="_blank"><span>皮具摄影</span></a></li><li><a href="#" target="_blank"><span>化妆品摄影</span></a></li><li><a href="#" target="_blank"><span>珠宝饰品</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-1">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M3" class="qhd_column_contain"><a name="31851" id="31851"></a>
<div class="module-default">
<div class="module-inner">
<div class="module-title module-title-default clearfix">
<div class="module-title-content clearfix">
<h3 style class>模特资料</h3>
</div>
</div>
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107122107122_mainArea" class="module-content">
<div class="link link-block">
<ul>
<li><a href="#" target="_blank"><span>国内女模特</span></a></li><li><a href="#" target="_blank"><span>国内男模特</span></a></li><li><a href="#" target="_blank"><span>国外女模特</span></a></li><li><a href="#" target="_blank"><span>国外男模特</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-1">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M4" class="qhd_column_contain"><a name="31852" id="31852"></a>
<div class="module-default">
<div class="module-inner">
<div class="module-title module-title-default clearfix">
<div class="module-title-content clearfix">
<h3 style class>关于我们</h3>
</div>
</div>
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107123107123_mainArea" class="module-content">
<div class="link link-block">
<ul>
<li><a href="#" target="_blank"><span>公司简介</span></a></li><li><a href="#" target="_blank"><span>公司新闻</span></a></li><li><a href="#" target="_blank"><span>专业团队</span></a></li><li><a href="#" target="_blank"><span>人才招聘</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-1 last">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M5" class="qhd_column_contain"><a name="31853" id="31853"></a>
<div class="module-default">
<div class="module-inner">
<div class="module-title module-title-default clearfix">
<div class="module-title-content clearfix">
<h3 style class>联系我们</h3>
</div>
</div>
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107124107124_mainArea" class="module-content">
<div class="qhd-content">
<p> 电话：400-XXX-XXXX<br/>
传真：+86-0371-12345678<br/>
邮箱：<a href="#">XXXX@163.com</a><br/>
地址：公司经营地址</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>

<section class="bottom">
<div id="a1portalSkin_bottomAreaA" class="page-width clearfix"><a name="31854" id="31854"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107125107125_mainArea" class="module-content">
<div class="qhd-module">
<div class="column">
<div class="col-5-3">
<div id="a1portalSkin_ctr107125107125_Column2C60A40_QHDCPM107125M1" class="qhd_column_contain"><a name="31855" id="31855"></a>
<div class="module-default module-no-margin">
<div class="module-inner">
<div id="a1portalSkin_ctr107125107125_Column2C60A40_ctr107126107126_mainArea" class="module-content">
<div class="qhd-content">
<p>Copyright © 2017-2018 daxue518. 易风课堂 版权所有
&nbsp;&nbsp;&nbsp;ICP备********号</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-2 last">
<div id="a1portalSkin_ctr107125107125_Column2C60A40_QHDCPM107125M2" class="qhd_column_contain"><a name="31856" id="31856"></a>
<div class="module-default module-no-margin">
<div class="module-inner">
<div id="a1portalSkin_ctr107125107125_Column2C60A40_ctr107127107127_mainArea" class="module-content">
<div class="qhd-content">
<p style="text-align: right;"> <a style="display:none" href="http://www.daxue518.com" title="易风课堂">易风课堂</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>
</body>
</html>
