<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{:config('title')}</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__ADMIN__/css/font_eolqem241z66flxr.css" media="all" />

	<!-- 配置文件 -->
    <script type="text/javascript" src="/static/vendor/utf8-php/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/vendor/utf8-php/ueditor.all.js"></script>
    <style>
		#imgs{margin: 10px 0 0 110px;}
		#imgs span{position: relative;display: inline-block;}
		#imgs span button{position: absolute;top: 3px;right: 3px;}
		#imgs span img {border: 1px #ddd solid;padding: 3px;}
    </style>
</head>
<body class="childrenBody">
	<form class="layui-form" style="width:70%;">
		<div class="layui-tab">
			<ul class="layui-tab-title">
	    		<li class="layui-this">基本信息</li>
	    		<li>主要信息</li>
	    		<li>扩展信息</li>
	  		</ul>
  		<div class="layui-tab-content">
  			 <div class="layui-tab-item layui-show layui-anim layui-anim-up">
				<div class="layui-form-item">
		    		<label class="layui-form-label">上级栏目</label>
				    <div class="layui-input-block">
				      <select name="pid" lay-filter="aihao">
				        <option value="0">顶级栏目</option>
				        {volist name="data" id='vo'}
				        <option value="{$vo.id}">{$vo.name}</option>
				        {/volist}
				      </select>
				    </div>
		  		</div>
				<div class="layui-form-item">
					<label class="layui-form-label">栏目名称</label>
					<div class="layui-input-block">
						<input type="text" name="name" class="layui-input linksUrl" lay-verify="required" placeholder="栏目名称">
					</div>
				</div>
				
				<div class="layui-form-item">
				    <label class="layui-form-label">栏目类型</label>
				    <div class="layui-input-block">
				       <input type="radio" name="type" value="1" checked title="单页">
				       <div class="layui-unselect layui-form-radio">
					      	<i class="layui-anim layui-icon"></i>
					      	<div>单页</div>
				       </div>

				       <input type="radio" name="type" value="2" title="摄影作品">
				       <div class="layui-unselect layui-form-radio">
					      	<i class="layui-anim layui-icon"></i>
					      	<div>摄影作品</div>
				       </div>

				       <input type="radio" name="type" value="3" title="模特资料">
				       <div class="layui-unselect layui-form-radio">
					      	<i class="layui-anim layui-icon"></i>
					      	<div>模特资料</div>
				       </div>

				       <input type="radio" name="type" value="4" title="摄影场景">
				       <div class="layui-unselect layui-form-radio">
					      	<i class="layui-anim layui-icon"></i>
					      	<div>摄影场景</div>
				       </div>

				       <input type="radio" name="type" value="5" title="新闻资讯">
				       <div class="layui-unselect layui-form-radio">
					      	<i class="layui-anim layui-icon"></i>
					      	<div>新闻资讯</div>
				       </div>

				       <input type="radio" name="type" value="6" title="专业团队">
				       <div class="layui-unselect layui-form-radio">
					      	<i class="layui-anim layui-icon"></i>
					      	<div>专业团队</div>
				       </div>

				       <input type="radio" name="type" value="7" title="联系我们">
				       <div class="layui-unselect layui-form-radio">
					      	<i class="layui-anim layui-icon"></i>
					      	<div>联系我们</div>
				       </div>
				    </div>
		  		</div>
		  		<div class="layui-form-item">
					<label class="layui-form-label">排序</label>
					<div class="layui-input-block">
						<input type="text" name="sort" class="layui-input linksUrl" lay-verify="required" placeholder="排序">
					</div>
				</div>
				<div class="layui-form-item">
				<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addData">立即提交</button>
				</div>
		    	</div>
			 </div>
			<div class="layui-tab-item layui-anim layui-anim-up">
				<div class="layui-form-item">
					<label class="layui-form-label">图片上传</label>
					<div class="layui-input-block">
						<input type="hidden"  name="pic" class="layui-input linksUrl" placeholder="图片路径">
						<input type="file" name="file" class="layui-upload-file">
					</div>
					<div id="imgs">
						
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">关键词</label>
					<div class="layui-input-block">
						<input type="text" name="keyword" class="layui-input linksUrl" placeholder="关键词">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">描述</label>
					<div class="layui-input-block">
						<input type="text" name="desc" class="layui-input linksUrl" placeholder="描述">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">摘要</label>
					<div class="layui-input-block">
						<textarea placeholder="摘要" name="remark" class="layui-textarea linksDesc"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
				<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addData">立即提交</button>
				</div>
		    </div>
		    </div>
		   <div class="layui-tab-item layui-anim layui-anim-up">
				<div class="layui-form-item">
					<div class="layui-input-block">
					<label class="layui-form-label">内容</label>
					<textarea placeholder="内容" name="comment" id="remark"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
				<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addData">立即提交</button>
				</div>
		    </div>	
			</div>

		   </div>
		</div>
	</form>
	
	<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
	<script type="text/javascript" src="__ADMIN__/js/curdajax.js"></script>
	<script>
	layui.use(['form','layer','jquery','upload','element'], function(){
		var form = layui.form();
        var layer = layui.layer;
        $ = layui.jquery;
        var element = layui.element();
		
		//图片上传
		layui.upload({
			url: "{:url('cateUpload')}",
			method:'post',
		    success: function(res){
				//console.log(res);
				if (res.code == '1') {
					//将路径放入input框中
					var vo = $('input[name=pic]').val();
					if (vo == '') {
						$('input[name=pic]').val(res.filepath);
					}else{
						$('input[name=pic]').val(vo+','+res.filepath);
					}
					
					var html = '';
					html = '<span>';
					html += '<img src="'+res.filepath+'" width="100" />';
					html += '<button onclick="delimg(this)" data="'+res.filepath+'" type="button" class="layui-btn layui-btn-small layui-btn-danger"><i class="layui-icon">&#xe640;</i></button>';
					html += '</span>';

					$('#imgs').append(html);
				}else{
					layer.alert(res.msg);
				}
			}
		});

		//提交数据
		addformData(form,"{:url('add')}");
    	
    });

    //删除图片
    function delimg(obj) {
    	//获取图片的地址
    	var imgpath = $(obj).attr('data');
    	$.ajax({
    		type:'post',
    		url:"{:url('Common/delimg')}",
    		data:{'imgurl':imgpath},
    		dataType:"json",
    		success:function(res){
    			//console.log(res);

    			if (res.code == '1' || res.code == '2') {

    				//处理文本框中的值
    				var urlstr = $('input[name=pic]').val();
    				if(urlstr == imgpath){
    					//只有一张图片
    					$('input[name=pic]').val('');
    				}else{
    					//存在多张图片
    					var str = urlstr.replace(imgpath+',','');
    					console.log(str);
    					var str = str.replace(','+imgpath,'');
    					console.log(str);
    					$('input[name=pic]').val(str);
    				}

    				//将元素移除
    				$(obj).parent().remove();
    				layer.msg(res.msg);
    			}else{

    				//删除失败
    				layer.msg(res.msg)
    			}
    		}
    	});
    	//alert(imgpath);
    }

    //实例化编辑器
    var ue = UE.getEditor('remark',{
    	initialFrameWidth:null
    });
	</script>
</body>
</html>
