<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{:config('title')}</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__ADMIN__/css/font_eolqem241z66flxr.css" media="all" />

	<!-- 配置文件 -->
    <script type="text/javascript" src="/static/vendor/utf8-php/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/vendor/utf8-php/ueditor.all.js"></script>
    <style>
		#imgs{margin: 10px 0 0 110px;}
		#imgs span{position: relative;display: inline-block;}
		#imgs span button{position: absolute;top: 3px;right: 3px;}
		#imgs span img {border: 1px #ddd solid;padding: 3px;}
    </style>

</head>
<body class="childrenBody">
	<form class="layui-form" style="width:60%;">
		<input type="hidden" name="id" value="{$editData.id}">
		<div class="layui-tab">
			<ul class="layui-tab-title">
	    		<li class="layui-this">基本信息</li>
	    		<li>主要信息</li>
	    		<li>扩展信息</li>
	  		</ul>
  		<div class="layui-tab-content">
  			 <div class="layui-tab-item layui-show layui-anim layui-anim-up">
				<div class="layui-form-item">
		    		<label class="layui-form-label">上级栏目</label>
				    <div class="layui-input-block">
				      <select name="pid" lay-filter="aihao">
				        <option value="0">顶级栏目</option>
				        {volist name="data" id='vo'}
				        <option value="{$vo.id}" {if condition="$vo.id eq $editData.pid"}selected{/if} >{$vo.name}</option>
				        {/volist}
				      </select>
				    </div>
		  		</div>
				<div class="layui-form-item">
					<label class="layui-form-label">栏目名称</label>
					<div class="layui-input-block">
						<input type="text" name="name" value="{$editData.name}" class="layui-input linksUrl" lay-verify="required" placeholder="栏目名称">
					</div>
				</div>
				
				<div class="layui-form-item">
				    <label class="layui-form-label">栏目类型</label>
				    <div class="layui-input-block">
				      <input type="radio" name="type" value="1" title="列表" {$editData->getData('type') == '1'?'checked':''}><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>列表</div></div>
				      <input type="radio" name="type" value="2" title="图片" {$editData->getData('type') == '2'?'checked':''}><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>图片</div></div>
				      <input type="radio" name="type" value="3" title="单页" {$editData->getData('type') == '3'?'checked':''}><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>单页</div></div>
				    </div>
		  		</div>
		  		<div class="layui-form-item">
					<label class="layui-form-label">排序</label>
					<div class="layui-input-block">
						<input type="text" name="sort" value="{$editData.sort}" class="layui-input linksUrl" lay-verify="required" placeholder="排序">
					</div>
				</div>
			 </div>
			<div class="layui-tab-item layui-anim layui-anim-up">
				<div class="layui-form-item">
					<label class="layui-form-label">图片上传</label>
					<div class="layui-input-block">
						<input type="hidden"  name="pic" value="{$editData.pic}" class="layui-input linksUrl">
						<input type="file" name="file" class="layui-upload-file">
					</div>
					<div id="imgs">
					{if condition="isset($editData.imgarr)"}
					{volist name='$editData.imgarr' id='vo'}
					  <span>
					    <img src="{$vo}" width="100" />
					    <button onclick="delimg(this)" data="{$vo}" type="button" class="layui-btn layui-btn-small layui-btn-danger"><i class="layui-icon">&#xe640;</i></button>
				      </span>
				    {/volist}
				    {/if}
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">关键词</label>
					<div class="layui-input-block">
						<input type="text" name="keyword" value="{$editData.keyword}" class="layui-input linksUrl" placeholder="关键词">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">描述</label>
					<div class="layui-input-block">
						<input type="text" name="desc" value="{$editData.desc}" class="layui-input linksUrl" placeholder="描述">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">摘要</label>
					<div class="layui-input-block">
						<textarea placeholder="摘要" name="remark" class="layui-textarea linksDesc">{$editData.remark}</textarea>
					</div>
				</div>
		    </div>
		   <div class="layui-tab-item layui-anim layui-anim-up">
				<div class="layui-form-item">
					<label class="layui-form-label">内容</label>
					<div class="layui-input-block">
						<textarea placeholder="内容" name="comment" id="remark">{$editData.comment}</textarea>
					</div>
				</div>
		   </div>
		</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addData">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	
	<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
	<script type="text/javascript" src="__ADMIN__/js/curdajax.js"></script>
	<script>
	layui.use(['form','layer','jquery','upload','element'], function(){
		var form = layui.form();
        var layer = layui.layer;
        $ = layui.jquery;
        var element = layui.element();
		
		//图片上传
		layui.upload({
			url: "{:url('cateUpload')}",
			method:'post',
		    success: function(res){
			     //console.log(res);
			     if(res.code == '1'){
			     	var html = '<span><img src="'+res.filepath+'" width="100" />';
			         html += '<button onclick="delimg(this)" data="'+res.filepath+'" type="button" class="layui-btn layui-btn-small layui-btn-danger"><i class="layui-icon">&#xe640;</i></button>';
			     	 html += '</span>';
			     	$('#imgs').append(html);

			     	//将路径写入文本框中
			     	var urlstr = $('input[name=pic]').val();
			     	if(urlstr == ''){
			     		$('input[name=pic]').val(res.filepath);
			     	}else{
			     		$('input[name=pic]').val(urlstr+','+res.filepath);
			     	}
			     	layer.msg(res.msg);
			     }else{

			     	layer.msg(res.msg);
			     }
			}
		});
		
		//提交数据
		addformData(form,"{:url('edit')}");
    	
    });

	//图片的删除
	function delimg(obj){
		var imgurl = $(obj).attr('data');
		//alert(imgurl);
		$.ajax({
			type:'post',
			url: "{:url('Common/delimg')}",
			data: {'imgurl':imgurl},
			dataType:'json',
			success:function(res){
				if(res.code == '2' || res.code == '1'){
					//处理文本框内的值
					var inputStr = $('input[name=pic]').val();
					if(inputStr == imgurl){
						//只有一张图片直接清空
						$('input[name=pic]').val('');
					}else{
						str = inputStr.replace(imgurl+',','');
						str = str.replace(','+imgurl,'');

						$('input[name=pic]').val(str);
					}

					//将元素移除
					$(obj).parent().remove();
					layer.msg(res.msg);
				}else{
					layer.msg(res.msg);
				}
			}
		});
	}
    //实例化编辑器
    var ue = UE.getEditor('remark');
	</script>
</body>
</html>
