<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文件管理</title>
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
	<script src="/static/vendor/fontIcon/iconfont.js"></script>
	<style>
		.fileicon i{font-size:1.8em;color:#FFE88C;-webkit-text-stroke: 1px #F1C95F;}
		.layui-table[lay-size="lg"] td, .layui-table[lay-size="lg"] th {
			padding: 15px 10px;
		}
		.filelink{color:#20A53A;}
		.filelink:hover{
			color:#333;
		}
		.cz{display:none;}
		tr:hover .cz{display: block;}

		/*图标字体样式*/
		.icon {
		  width: 1em;
		  height: 1em;
		  vertical-align: -0.15em;
		  fill: currentColor;
		  overflow: hidden;
		  font-size: 25px;
		}
	</style>
</head>
<body style="padding:15px;">
<div class="head-top">
	<button class="layui-btn layui-btn-sm layui-btn-primary">
	  <i class="layui-icon"><a href="?currdir={$curdir}\..">上级目录</a></i>
	</button>
	<button class="layui-btn layui-btn-sm layui-btn-primary" id="reload">
	  <i class="layui-icon">&#x1002;</i>
	</button>
	<button class="layui-btn layui-btn-sm layui-btn-danger">当前路径：{$curdir}</button>
	<span class="layui-btn layui-btn-sm layui-btn-success" style="float:right;">共{$num.dir}个目录，{$num.file}个文件</span>
</div>
<div class="file-list">
	<table class="layui-table" lay-size="lg" lay-skin="line">
	  <thead>
		<tr>
		  <th>文件名</th>
		  <th>文件大小</th>
		  <th>创建时间</th>
		  <th>最后修改时间</th>
		  <th style="text-align:right;width:300px;">操作</th>
		</tr> 
	  </thead>
	  <tbody>
	  {volist name="filename" id='vo'}
		<tr>
		  <td class="fileicon">
			  <a href="{$vo.sign? '?currdir='.$vo.currdir: 'javascript:void(0)'}">
			  {if condition="$vo.sign eq '1'"}
			  <i class="layui-icon">{$vo.icon}</i>
			  {else/}
			  <svg class="icon" aria-hidden="true">
  			  	<use xlink:href="{$vo.icon}"></use>
			  </svg>
			  {/if}
			  
			  {$vo.filename}
		  </a>
		  </td>
		  <td>{$vo.sign? '目录': fileFont($vo.size,2)}</td>
		  <td>{$vo.ctime|date='Y-m-d H:i:s',###}</td>
		  <td>{$vo.mtime|date="Y-m-d H:i:s",###}</td>
		  <td>
			<span class="cz">
				<a class="filelink" href="javascript:;" onclick="DeleteFile('D:\\wwwroot\\hbrfhg.com\\foot.asp')">删除</a> |
				<a class="filelink" href="javascript:;" onclick="OnlineEditFile(0,'D:\\wwwroot\\hbrfhg.com\\foot.asp')">编辑</a> |
				<a class="filelink" href="javascript:;" onclick="ReName(0,'foot.asp')">重命名</a> |
				<a class="filelink" href="javascript:;" onclick="GetFileBytes('D:\\wwwroot\\hbrfhg.com\\foot.asp',369)">下载</a>
				
			</span>
		  </td>
		</tr>
		{/volist}
	  </tbody>
	</table>
	<div class="page" id="page"></div>
</div>

<script src="__ADMIN__/js/jquery-1.8.3.min.js"></script>
<script src="__ADMIN__/layui/layui.js"></script>
	<script>
	layui.use(['laypage','jquery'], function(){
  		layui.laypage({
  			cont: $('#page'),
  			pages : {$pagepar.total},
  			curr: {$pagepar.curr},
  			skip: true,
  			jump: function(obj, first){
    			//得到了当前页，用于向服务端请求对应数据
    			var curr = obj.curr;
    			if (!first) {
    				//需要带上当前页面路径
    				location.href="?currdir={$curdir|urlencode=###}&p="+curr;	
    			}
  			}
  		})
	
	});

	$(function(){
		$(window.parent.document).find('#righttitle').text($('title').text());
		$('#reload').on('click',function(){
			location.reload();
		})
	})
	</script>
</body>
</html>
