{include file='public/header'}

<div class="touch-top mobile-section clearfix">
<div class="touch-top-wrapper clearfix">
<div class="touch-logo" skinobjectzone="HtmlLogo_2654"><a class href="#"><img src="__IMG__/logo.png" alt="易风课堂)"/></a></div>

<div class="touch-navigation">
 <div class="touch-toggle">
<ul>
<li class="touch-toggle-item-first"><a href="javascript:;" class="drawer-language" data-drawer="drawer-section-language"><i class="touch-icon-language"></i><span>语言</span></a></li>
<li class="touch-toggle-item-last"><a href="javascript:;" class="drawer-menu" data-drawer="drawer-section-menu"><i class="touch-icon-menu"></i><span>导航</span></a></li>
</ul>
</div>
</div>
</div>

<div class="touch-toggle-content touch-top-home">
<div class="drawer-section drawer-section-language">
<ul class="touch-language clearfix" skinobjectzone="HtmlLanguage_2927">
<li><a href="#">English</a></li>
<li><a href="#">中文简体</a></li>
</ul>
</div>
<div class="drawer-section drawer-section-menu">
<div class="touch-menu" skinobjectzone="menu_3145">
<ul>
<li><a href="#"><span>首页</span></a></li>
<li><a href="javascript:;"><span>关于我们</span><i class="touch-arrow-down"></i></a>
<ul>
<li><a href="#"><span>公司简介</span></a></li>
<li><a href="#"><span>专业团队</span></a></li>
<li><a href="#"><span>人才招聘</span></a></li>
</ul>
</li><li><a href="javascript:;"><span>摄影作品</span><i class="touch-arrow-down"></i></a>
<ul>
<li><a href="#"><span>服装摄影</span></a></li>
<li><a href="#"><span>产品摄影</span></a></li>
<li><a href="#"><span>皮具摄影</span></a></li>
<li><a href="#"><span>化妆品摄影</span></a></li>
<li><a href="#"><span>珠宝饰品</span></a></li>
</ul>
</li><li><a href="javascript:;"><span>模特资料</span><i class="touch-arrow-down"></i></a>
<ul>
<li><a href="#"><span>国内女模特</span></a></li>
<li><a href="#"><span>国内男模特</span></a></li>
<li><a href="#"><span>国外女模特</span></a></li>
<li><a href="#"><span>国外男模特</span></a></li>
</ul>
</li>
<li><a href="#"><span>摄影场景</span></a></li>
<li><a href="javascript:;"><span>新闻资讯</span><i class="touch-arrow-down"></i></a>
<ul>
<li><a href="#"><span>公司新闻</span></a></li>
<li><a href="#"><span>摄影学堂</span></a></li>
</ul>
</li>
<li><a href="#"><span>联系我们</span></a></li>
</ul>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
     
     $(".touch-toggle a").click(function(event){
      var className = $(this).attr("data-drawer");
      
      if( $("."+className).css('display') == 'none' ){      
       $("."+className).slideDown().siblings(".drawer-section").slideUp();
      }else{
       $(".drawer-section").slideUp(); 
      }
      event.stopPropagation();
     });
     
     /*$(document).click(function(){
      $(".drawer-section").slideUp();     
     })*/
     
     $('.touch-menu a').click(function(){     
      if( $(this).next().is('ul') ){
       if( $(this).next('ul').css('display') == 'none' ){
        $(this).next('ul').slideDown();
        $(this).find('i').attr("class","touch-arrow-up");     
       }else{
        $(this).next('ul').slideUp();
        $(this).next('ul').find('ul').slideUp();
        $(this).find('i').attr("class","touch-arrow-down");
       }   
      }
     });
    });
</script></div>
</div>

<div id="a1portalSkin_headerAreaA" class="header"><a name="31861" id="31861"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107142107142_mainArea" class="module-content">
<div class="slideshow slideshow-min carousel clearfix" style="height:450px; overflow:hidden;">
<div id="carousel-107142">
<div class="carousel-item">
<div class="carousel-img"><a href="javascript:;" target><img src="{$Request.param.id|getBannerpic=###}" height="450" alt="公司新闻"/></a></div>
</div>
</div>
<div class="carousel-btn carousel-btn-fixed" id="carousel-page-107142"></div>
</div>
<script type="text/javascript">
 $(window).bind("load resize",function(){
  $("#carousel-107142").carouFredSel({
   width       : '100%',
   items  : { visible : 1 },
   auto     : { pauseOnHover: true, timeoutDuration:5000 },
   swipe     : { onTouch:true, onMouse:true },
   pagination  : "#carousel-page-107142",
   scroll   : { fx : "crossfade" }
  }); 
 });
</script></div>
</div>
</div>
</div>

<section class="main">
<div class="page-width clearfix">
<section class="content float-right">
<section class="page-title page-title-inner clearfix">
<div class="breadcrumbs float-right" skinobjectzone="HtmlBreadCrumb_3806"><span>当前位置：</span><a href="#">主页</a> ><a href="#">新闻资讯</a> > <a href="#">公司新闻</a> > </div>

<div class="page-name float-left">
<h2>公司新闻</h2>
</div>
</section>

<div id="a1portalSkin_mainArea" class="content-wrapper"><a name="31828" id="31828"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107141107141_mainArea" class="module-content">
<div class="entry-list entry-list-article entry-list-mobile">


    {volist name='newslist' id='vo'}
    <div class="entry-item">
       <div class="typo">
       <div class="typo-img">
       <div class="entry-img"><a href="{:url('index/news/shownews',['id'=>$vo['id']])}" target="_blank"><img src="{$vo.pic}" width="220" alt="{$vo.title}"/></a></div>
       </div>

       <div class="typo-text">
       <div class="entry-title">
       <h2><a href="{:url('index/news/shownews',['id'=>$vo['id']])}" target="_blank">{$vo.title}</a></h2>
       </div>
       <div class="news-info" style="font-size:.95em;color:#AAA;"><span>作者：{$vo.author}</span><span>发布时间：{$vo.addtime|date='Y/m/d H:i:s',###}</span><span>点击次数：{$vo.views}次</span></div>
       <div class="entry-summary">
       <div class="qhd-content">
       <p> {$vo.remark}：...</p>
       </div>
       </div>
       </div>
       </div>
    </div>
    {/volist}
</div>
</div>
</div>
</div>
</div>
</section>

<section class="sidebar float-left">
<div id="a1portalSkin_sidebarAreaA" class="sidebar-content"><a name="31827" id="31827"></a>
<div class="module module-hlbg">
<div class="module-inner">
<div class="module-hlbg-title clearfix">
<h3 class style>新闻资讯</h3>
</div>
<div id="a1portalSkin_ctr107137107137_mainArea" class="module-hlbg-content">
<div class="category category-107137 article-category">
 <ul>
  {volist name='leftnews' id='vo'}
   <li {$Request.param.id == $vo['id']? 'class="current"':''}><a href="{$vo.type|makeurl=###,$vo.id}">{$vo.name}</a><i></i></li>
  {/volist}
 </ul>
</div>
<script type="text/javascript">
 $(document).ready(function(){
  $('.category-107137 ul ul').find('li:last').addClass('last');
  
  $('.category-107137 > ul > li > a').click(function(){
   if( $(this).parent('li').find('ul') ){
    $(this).parent('li').find('ul').slideDown('fast');
    $(this).parent('li').siblings('li').find('ul').slideUp('fast');
    $(this).parent('li').addClass('current').siblings('li').removeClass('current');
   }
  });   
 });
</script></div>
</div>
</div>
<a name="31863" id="31863"></a>
<div class="module module-hlbg">
<div class="module-inner">
<div class="module-hlbg-title clearfix">
<h3 class style>摄影作品</h3>
</div>
<div id="a1portalSkin_ctr107130107130_mainArea" class="module-hlbg-content">
<div class="category category-107130 article-category">
   <ul>
       {volist name='zuopin' id='vo'}
       <li class><a href="{$vo.type|makeurl=###,$vo.id}" target>{$vo.name}</a><i></i></li>
       {/volist}
   </ul>
</div>
<script type="text/javascript">
 $(document).ready(function(){
  $('.category-107130 ul ul').find('li:last').addClass('last');
  
  $('.category-107130 > ul > li > a').click(function(){
   if( $(this).parent('li').find('ul') ){
    $(this).parent('li').find('ul').slideDown('fast');
    $(this).parent('li').siblings('li').find('ul').slideUp('fast');
    $(this).parent('li').addClass('current').siblings('li').removeClass('current');
   }
  });   
 });
</script></div>
</div>
</div>
</div>
</section>
</div>
</section>

{include file='public/footer'/}
</div>
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>
</body>
</html>