<footer class="footer">
<div class="footer-main">
<div id="a1portalSkin_footerAreaA" class="page-width clearfix"><a name="31848" id="31848"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107119107119_mainArea" class="module-content">
<div class="qhd-module">
<div class="column marg-per2">
<div class="col-5-1">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M1" class="qhd_column_contain"><a name="31849" id="31849"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107120107120_mainArea" class="module-content">
<div class="qhd-content">
<p style="text-align: center;"> <img alt src="__IMG__/weixin.png" style="width: 120px; height: 120px;"/><br/>
扫描关注微信</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-1">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M2" class="qhd_column_contain"><a name="31850" id="31850"></a>
<div class="module-default">
<div class="module-inner">
<div class="module-title module-title-default clearfix">
<div class="module-title-content clearfix">
<h3 style class>摄影作品</h3>
</div>
</div>
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107121107121_mainArea" class="module-content">
<div class="link link-block">
<ul>
<li><a href="#" target="_blank"><span>服装摄影</span></a></li><li><a href="#" target="_blank"><span>产品摄影</span></a></li><li><a href="#" target="_blank"><span>皮具摄影</span></a></li><li><a href="#" target="_blank"><span>化妆品摄影</span></a></li><li><a href="#" target="_blank"><span>珠宝饰品</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-1">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M3" class="qhd_column_contain"><a name="31851" id="31851"></a>
<div class="module-default">
<div class="module-inner">
<div class="module-title module-title-default clearfix">
<div class="module-title-content clearfix">
<h3 style class>模特资料</h3>
</div>
</div>
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107122107122_mainArea" class="module-content">
<div class="link link-block">
<ul>
<li><a href="#" target="_blank"><span>国内女模特</span></a></li><li><a href="#" target="_blank"><span>国内男模特</span></a></li><li><a href="#" target="_blank"><span>国外女模特</span></a></li><li><a href="#" target="_blank"><span>国外男模特</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-1">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M4" class="qhd_column_contain"><a name="31852" id="31852"></a>
<div class="module-default">
<div class="module-inner">
<div class="module-title module-title-default clearfix">
<div class="module-title-content clearfix">
<h3 style class>关于我们</h3>
</div>
</div>
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107123107123_mainArea" class="module-content">
<div class="link link-block">
<ul>
<li><a href="#" target="_blank"><span>公司简介</span></a></li><li><a href="#" target="_blank"><span>公司新闻</span></a></li><li><a href="#" target="_blank"><span>专业团队</span></a></li><li><a href="#" target="_blank"><span>人才招聘</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-1 last">
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M5" class="qhd_column_contain"><a name="31853" id="31853"></a>
<div class="module-default">
<div class="module-inner">
<div class="module-title module-title-default clearfix">
<div class="module-title-content clearfix">
<h3 style class>联系我们</h3>
</div>
</div>
<div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107124107124_mainArea" class="module-content">
<div class="qhd-content">
<p> 电话：{$config.phone}<br/>
传真：+86-0371-12345678<br/>
邮箱：<a href="#">XXXX@163.com</a><br/>
地址：{$config.address}</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>

<section class="bottom">
<div id="a1portalSkin_bottomAreaA" class="page-width clearfix"><a name="31854" id="31854"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr107125107125_mainArea" class="module-content">
<div class="qhd-module">
<div class="column">
<div class="col-5-3">
<div id="a1portalSkin_ctr107125107125_Column2C60A40_QHDCPM107125M1" class="qhd_column_contain"><a name="31855" id="31855"></a>
<div class="module-default module-no-margin">
<div class="module-inner">
<div id="a1portalSkin_ctr107125107125_Column2C60A40_ctr107126107126_mainArea" class="module-content">
<div class="qhd-content">
<p>Copyright © 2017-2018 daxue518.  版权所有
&nbsp;&nbsp;&nbsp;ICP备********号</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-5-2 last">
<div id="a1portalSkin_ctr107125107125_Column2C60A40_QHDCPM107125M2" class="qhd_column_contain"><a name="31856" id="31856"></a>
<div class="module-default module-no-margin">
<div class="module-inner">
<div id="a1portalSkin_ctr107125107125_Column2C60A40_ctr107127107127_mainArea" class="module-content">
<div class="qhd-content">
<p style="text-align: right;"> <a style="display:none" href="http://www.daxue518.com" title=""></a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>