<!DOCTYPE html>
<head id="Head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="author" content="order by bbs.daxue518.com"/>
<title>双语-视觉摄影</title>
<meta name="description" content/>
<meta name="keywords" content/>
<meta http-equiv="page-enter" content="RevealTrans(Duration=0,Transition=1)"/>
<link rel="stylesheet" type="text/css" href="__CSS__/qhdcontent.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/menu.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/jquery.fancybox-1.3.4.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/pgwslideshow.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/style-orange.css"/>
<style>

html {

	background-image: url(__IMG__/bg-rep-03.png);

}

</style>
<!--[if lt IE 9]>

 <script src="js/html5.js"></script>

<![endif]--><!--[if IE 6]>

 <script type="text/javascript" src="js/ie7.js"></script>

 <script type="text/javascript" src="js/dd_belatedpng.js"></script>

 <script type="text/javascript">

  DD_belatedPNG.fix('.top img, .footer img, .bottom img, .form-btn, .module-icon-default');

 </script>

<![endif]-->
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
</head>
<body class="font-zh-CN" style="background:url(__IMG__/bg-img-03.jpg) top center fixed;">
<div> </div>
<script src="__JS__/a1portalcore.js" type="text/javascript"></script>
<script src="__JS__/a1portal.js"></script>
<script src="__JS__/jquery-1.7.2.min.js"></script>
<script src="__JS__/superfish.js"></script>
<script src="__JS__/jquery.caroufredsel.js"></script>
<script src="__JS__/jquery.touchswipe.min.js"></script>
<script src="__JS__/jquery.tools.min.js"></script>
<script src="__JS__/jquery.fancybox-1.3.4.pack.js"></script>
<script src="__JS__/pgwslideshow.min.js"></script>
<script src="__JS__/jquery.fixed.js"></script>
<script src="__JS__/cloud-zoom.1.0.2.min.js"></script>
<script src="__JS__/device.min.js"></script>
<script src="__JS__/html5media-1.2.js"></script>
<script src="__JS__/animate.min.js"></script>
<script src="__JS__/custom.js"></script>
<div id="wrapper" class="home-page">
<header class="top header-v1 desktops-section default-top">
<div class="top-main">
<div class="page-width clearfix">
<div class="logo" skinobjectzone="HtmlLogo_399"><a href="#"><img src="__IMG__/logo.png" alt="视觉摄影"/></a></div>

<div class="top-main-content clearfix">
<nav class="nav">
<div class="main-nav clearfix" skinobjectzone="menu_468">
<ul class="sf-menu">
<li class="current"><a class="first-level" href="#" target><strong>首页</strong></a><i></i></li>
<li class><a class="first-level" href="#" target><strong>关于我们</strong></a><i></i>
<ul class>
<li class><a class href="#" target><strong>公司简介</strong></a></li><li class><a class href="#" target><strong>专业团队</strong></a></li><li class><a class href="#" target><strong>人才招聘</strong></a></li>
</ul>
</li><li class><a class="first-level" href="#" target><strong>摄影作品</strong></a><i></i>
<ul class>
<li class><a class href="#" target><strong>服装摄影</strong></a></li><li class><a class href="#" target><strong>产品摄影</strong></a></li><li class><a class href="#" target><strong>皮具摄影</strong></a></li><li class><a class href="#" target><strong>化妆品摄影</strong></a></li><li class><a class href="#" target><strong>珠宝饰品</strong></a></li>
</ul>
</li><li class><a class="first-level" href="#" target><strong>模特资料</strong></a><i></i>
<ul class>
<li class><a class href="#" target><strong>国内女模特</strong></a></li><li class><a class href="#" target><strong>国内男模特</strong></a></li><li class><a class href="#" target><strong>国外女模特</strong></a></li><li class><a class href="#" target><strong>国外男模特</strong></a></li>
</ul>
</li><li class><a class="first-level" href="#" target><strong>摄影场景</strong></a><i></i>
<ul class>
</ul>
</li><li class><a class="first-level" href="#" target><strong>新闻资讯</strong></a><i></i>
<ul class>
<li class><a class href="#" target><strong>公司新闻</strong></a></li><li class><a class href="#" target><strong>摄影学堂</strong></a></li>
</ul>
</li><li class><a class="first-level" href="#" target><strong>联系我们</strong></a><i></i>
<ul class>
</ul>
</li>
</ul>
</div>
</nav>
</div>

<div class="language" skinobjectzone="HtmlLanguage_1279">
<ul class="sf-menu">
<li><a href="javascript:;" class="first-level"><span><em>中文简体</em></span></a>
<ul>
<li><a href="#"><span><em>English</em></span></a></li>
<li><a href="#"><span><em>中文简体</em></span></a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>

<div class="clear"></div>
</header>
